{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}


{% block content %}

  <div class="row" id="slides">
      <div class="container-fluid">
          <div id="owl-demo" class="owl-carousel ">
              <div class="item"><img src="img/watch7.jpg"></div>
              <div class="item"><img src="img/cwatch.jpg" alt="watch"></div>
              <div class="item"><img src="img/watch3.jpg"></div>
              <div class="item"><img src="img/watch5.jpeg"> </div>
              <div class="item"><img src="img/watch6.jpg"></div>
            </div>
      </div>
  </div>

  <div class="row">
    <div class="container-fluid">
      <div class="col-md-3 col-sm-3 col-sm-offset-2 col-md-offset-2 line"></div>
      <div class="col-md-2 col-sm-2">
        <h4 style="font-weight: bold;" class="text-center"><strong>Featured Products</strong></h4>
      </div>
      <div class="col-md-3 col-sm-3   line"></div>
    </div>
  </div>

<div class="row">
    <div class="container">
      <div class="col-md-12">
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail" >
          <img src="img/woodAnalog21.jpg" class="img-responsive">
          <div class="caption">
            <div class="row">
              <div class="col-md-6 col-xs-6">
                <h3>The Carlton</h3>
              </div>
              <div class="col-md-6 col-xs-6 price">
                <h4>
                <label>$379.99</label></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <a href="#" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a></div>
            </div>

            <p> </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail" >
          <img src="img/metalAnalog27.jpg" class="img-responsive">
          <div class="caption">
            <div class="row">
              <div class="col-md-6 col-xs-6">
                <h3>The Loiusa</h3>
              </div>
              <div class="col-md-6 col-xs-6 price">
                <h4>
                <label>$349.99</label></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <a href="#" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a></div>
            </div>

            <p> </p>
          </div>
        </div>
      </div>
    
            
    </div> 

  </div>
</div>

<div class="row">
    <form class="form-horizontal signUp">
      <div class="container-fluid">
          <h2 class="text-center">Sign Up Today</h2>
          <div class="form-group email">
            <label for="exampleInputEmail1" class="col-sm-2 col-sm-offset-2 control-label">Email address</label>
            <div class="col-sm-4">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Subscribe to Our News Letter">
            </div>
            <div class="col-sm-2">
              <button type="submit" id="signUpButton" class="btn btn-default">Sign Up!</button>
            </div><br>
            <div class="col-sm-3 col-sm-offset-5" id="socialIcons">
              <i class="fa fa-twitter fa-2x"></i>
              <i class="fa fa-facebook fa-2x"></i>
              <i class="fa fa-instagram fa-2x"></i>
              <i class="fa fa-linkedin fa-2x"></i>
            </div>
          </div>
          </div>
    </form>
</div>

{% endblock %}