{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}


{% block content %}


<div class="row">
  <div class="container-fluid productBtn">
    <div class="col-sm-4">
      <button class="allBtn center-block">All watches</button>
    </div>
    <div class="col-sm-4">
      <button class="digitalBtn center-block">Digital</button>
    </div>
    <div class="col-sm-4">
      <button class="analogBtn center-block">Analog</button>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-12">

    {% for watch in watches %}
      
      <div class="col-xs-6 col-sm-4 col-md-3 analog">
        <div class="thumbnail" >
          <img src="{{ watch.image_url}}" class="img-responsive">
          <div class="caption">
            <div class="row">
              <div class="col-md-6 col-xs-6">
                <h3>{{ watch.name }}</h3>
              </div>
              <div class="col-md-6 col-xs-6 price">
                <h4>
                <label>{{ watch.price }}</label></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <a class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a></div>
            </div>

            <p> </p>
          </div>
        </div>
      </div>

    {% endfor %}
      
    </div> 

  </div>
</div>


{% endblock %}